* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8ba5d2;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

header {
  background-color: #8ba5d2;
  height: 50px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 1000px;
}

header .right {
  width: 50%;
}

header .left {
  width: 50%;
}

header nav {
  height: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .top_nav {
  height: 50px;
}

header .nav_left {
  overflow: hidden;
  height: 50px;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 50px;
  letter-spacing: -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .nav_item {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  letter-spacing: 0em;
}

header .nav_item a {
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  width: 100%;
  position: relative;
}

header .nav_item a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

header .nav_item a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

header .nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav_right .logo {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  height: 50px;
  line-height: 50px;
}

header .nav_right .btn0 {
  position: relative;
}

header .nav_right .btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 2px 10px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #323335;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: background .5s;
  transition: background .5s;
}

header .nav_right .btn:hover {
  background-color: gray;
}

main .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 120px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .column .column_2 {
  padding-right: 15px;
  padding-left: 60px;
  width: 50%;
  color: white;
}

main .column .column_2 h1 {
  white-space: nowrap;
  margin-bottom: 20px;
}

main .column .column_2 .btn a {
  text-decoration: none;
  color: white;
}

main .column .column_2 .column_3 {
  padding: 20px 0;
}

main .column .image6 {
  width: 50%;
  margin-left: 3%;
}

main .column .image6 img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 599px) {
  .wrapper {
    max-width: 100%;
  }
  .wrapper header {
    max-width: 100%;
    padding: 10px;
    background: #8ba5d2;
  }
  .wrapper header .left {
    display: none;
  }
  .wrapper header .right {
    display: none;
  }
  .wrapper header #nav-drawer {
    position: relative;
  }
  .wrapper header .nav-shown {
    display: none;
  }
  .wrapper header #nav-open {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
  }
  .wrapper header #nav-open span, .wrapper header #nav-open span::before, .wrapper header #nav-open span::after {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: block;
    content: "";
    cursor: pointer;
  }
  .wrapper header #nav-open span:before {
    bottom: -8px;
  }
  .wrapper header #nav-open span:after {
    bottom: -16px;
  }
  .wrapper header #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .wrapper header #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;
    height: 100%;
    background: #8ba5d2;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .wrapper header #nav-content ul {
    display: block;
    padding: 10px;
    margin: 0;
    list-style: none;
    letter-spacing: -1em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrapper header #nav-content .nav_item {
    letter-spacing: 0em;
  }
  .wrapper header #nav-content .nav_item a {
    text-decoration: none;
    color: white;
  }
  .wrapper header #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  .wrapper header #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
  .wrapper header .header-logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper header .logo-area {
    text-align: center;
    margin: auto;
  }
  .wrapper header .logo-area a {
    text-decoration: none;
    color: white;
  }
  .wrapper main .column {
    display: block;
  }
  .wrapper main .column .image6 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .wrapper main .column .column_2 {
    width: 100%;
    padding: 0;
  }
  .wrapper main .column .column_2 .btn {
    top: 50%;
    padding: 2px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: #323335;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: background .5s;
    transition: background .5s;
  }
  .wrapper main .column .column_2 .btn a {
    color: #323335;
  }
}
/*# sourceMappingURL=apo.css.map */