* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8ba5d2;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

header {
  background-color: #8ba5d2;
  height: 50px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 1000px;
}

header .right {
  width: 50%;
}

header .left {
  width: 50%;
}

header .header-logo-menu {
  display: none;
}

header nav {
  height: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .top_nav {
  height: 50px;
}

header .nav_left {
  overflow: hidden;
  height: 50px;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 50px;
  letter-spacing: -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .nav_item {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  letter-spacing: 0em;
}

header .nav_item a {
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  width: 100%;
  position: relative;
}

header .nav_item a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

header .nav_item a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

header .nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav_right .logo {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  height: 50px;
  line-height: 50px;
}

header .nav_right .btn0 {
  position: relative;
}

header .nav_right .btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 2px 10px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #323335;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: background .5s;
  transition: background .5s;
}

header .nav_right .btn:hover {
  background-color: gray;
}

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact .contact-0 {
  width: 50%;
  padding: 20px 0px 20px 15px;
}

main .contact .contact-0 img {
  max-width: 100%;
}

main .contact .contact-1 {
  width: 50%;
}

main .contact .contact-1 .contact-11 {
  padding-right: 90px;
}

main .contact .contact-1 h1 {
  color: white;
}

main .contact .contact-1 p {
  color: white;
}

main #formWrap {
  width: 100%;
  margin: 0 auto;
  color: #323335;
  line-height: 120%;
  font-size: 90%;
}

main table.formTable {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

main table.formTable td, main table.formTable th {
  border: 1px solid #ccc;
  padding: 10px;
}

main table.formTable th {
  width: 30%;
  font-weight: normal;
  background: #efefef;
  text-align: left;
}

@media screen and (max-width: 599px) {
  .wrapper {
    max-width: 100%;
  }
  .wrapper header {
    max-width: 100%;
    padding: 10px;
    background: #8ba5d2;
  }
  .wrapper header .left {
    display: none;
  }
  .wrapper header .right {
    display: none;
  }
  .wrapper header #nav-drawer {
    position: relative;
  }
  .wrapper header .nav-shown {
    display: none;
  }
  .wrapper header #nav-open {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
  }
  .wrapper header #nav-open span, .wrapper header #nav-open span::before, .wrapper header #nav-open span::after {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: block;
    content: "";
    cursor: pointer;
  }
  .wrapper header #nav-open span:before {
    bottom: -8px;
  }
  .wrapper header #nav-open span:after {
    bottom: -16px;
  }
  .wrapper header #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .wrapper header #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;
    height: 100%;
    background: #8ba5d2;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .wrapper header #nav-content ul {
    display: block;
    padding: 10px;
    margin: 0;
    list-style: none;
    letter-spacing: -1em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrapper header #nav-content .nav_item {
    letter-spacing: 0em;
  }
  .wrapper header #nav-content .nav_item a {
    text-decoration: none;
    color: white;
  }
  .wrapper header #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  .wrapper header #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
  .wrapper header .header-logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper header .logo-area {
    text-align: center;
    margin: auto;
  }
  .wrapper header .logo-area a {
    text-decoration: none;
    color: white;
  }
  .wrapper main {
    padding: 0 10px;
  }
  .wrapper main .contact {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .wrapper main .contact .contact-0 {
    width: 100%;
    padding: 20px 0px 20px 0px;
  }
  .wrapper main .contact .contact-0 img {
    max-width: 100%;
  }
  .wrapper main .contact .contact-1 {
    width: 100%;
  }
  .wrapper main .contact .contact-1 .contact-11 {
    padding-right: 0px;
    margin: 10px 0;
  }
  .wrapper main .contact .contact-1 .contact-11 h1 {
    color: white;
    margin: 10px 0;
  }
  .wrapper main .contact .contact-1 .contact-11 p {
    color: white;
    margin: 10px 0;
  }
  .wrapper main #formWrap {
    width: 95%;
    margin: 0 auto;
  }
  .wrapper main table.formTable th, .wrapper main table.formTable td {
    width: auto;
    display: block;
  }
  .wrapper main table.formTable th {
    margin-top: 5px;
    border-bottom: 0;
  }
  .wrapper main input[type="text"], .wrapper main textarea {
    width: 80%;
    padding: 5px;
    font-size: 110%;
    display: block;
  }
  .wrapper main input[type="submit"], .wrapper main input[type="reset"], .wrapper main input[type="button"] {
    display: block;
    width: 100%;
    height: 40px;
  }
}
/*# sourceMappingURL=contact.css.map */